@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	-webkit-transition:0.5s;
-moz-transition:0.5s;
-o-transition:0.5s;
transition:0.5s;

}
a:hover {
	color: #ed1c24;
}
table {
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
}
strong {
	font-weight: bold;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h5, h6 {
	font-family:  'Segoe', 'Lato', sans-serif "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Osaka", sans-serif !important;
	font-weight: 100;
	font-size: 100%;
	margin: 0;
	padding: 0;
	color: #444;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}

.mbn50 {
	margin-bottom:-50px !important;
}

body.modal-open{
    overflow: hidden;
}
/* Custom CSS
 * --------------------------------------- */
body {
	color: #FFF;
	/*color: rgba(0,0,0,0.5);*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Osaka", arial, helvetica, sans-serif;
	/*font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;*/
	/*font-weight: 300;*/
	font-weight: 100;
	font-size: 12px;
	line-height: 1.7;
	background:#000;
}




.center {
	text-align:center !important;
}
.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

h2 {
	color: #FFF;
	font-size: 35px;
	padding: 110px 0 60px;
    font-family: 'Lato', sans-serif !important;
	/*font-weight: 300;*/
	font-weight: 100;
}
h4 {
	color: #FFF;
	font-size: 12px;
	line-height: 1;
	margin-bottom: 10px;
	border-bottom: 1px solid #a4a4a4;
	padding: 5px;
	display: inline-block;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Osaka", sans-serif;
}


h2.ser {
	color: #FFF;
	font-size: 35px;
	padding: 110px 0 60px;
    font-family: 'Lato', sans-serif !important;
	/*font-weight: 300;*/
	font-weight: 100;
}


.intro p {
	width: 50%;
	margin: 0 auto;
	font-size:14px;
}
.section {
	text-align: center;
}
.wrapper00 {
	margin: 0 auto;
	width: 550px;
	text-align: left;
	/*padding-bottom: 100px;Wadd0418*/
	padding-bottom: 60px;
}
.wrapper01 {
	margin: 0 auto;
	/*width: 1000px;*/
	width: 900px;
	text-align: left;
	padding-bottom: 100px;
}


@media screen and (max-width: 768px) {
.wrapper00 {
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	padding-left:1.5em;
	padding-right:1.5em;
	text-align: left;
	/*padding-bottom: 100px;Wadd0418*/
	padding-bottom: 60px;
}
.wrapper01 {
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	padding-left:1.5em;
	padding-right:1.5em;
	text-align: left;
	padding-bottom: 100px;
}


#menu li {
	display: inline-block;
	margin: 10px;
	color: #000;
	font-family: 'Lato', sans-serif !important;/*→消す？*/
	font-weight: 100!important;/*→100にする？*/
}
#menu li.active {
	color: #A00;
}
#menu li a {
	text-decoration: none;
	color: #FFF;
}
#menu li.active a:hover {
	color: #F00;
}
#menu li:hover {
/*background: rgba(255,255,255, 0.8);*/
}
#menu li a, #menu li.active a {
	padding: 9px 0px;
	margin-left: 18px;
	margin-right: 18px;
	display: block;
}
#menu li.active a {
	color: #A00;
}
#menu {
	/*font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;*/
	position: fixed;
	top: 7px;
	left: 0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin: 0;
	display:block;
}


/* CONTACT Page */

.table01 {
	width: 100%;}

/*.table01 tr{vertical-align: top; }*/

.table01 th{width:160px;  padding:0;text-align: center;vertical-align:middle;}
/*.table01 td{margin-bottom:25px;padding:0;}*/
.table01 td{margin:15px 0;padding:0;}



@media screen and (max-width: 768px) {
	
.table01 {
	width: 100%;
	}

.table01 tr{vertical-align: top;}

.table01 th{width:20%; padding:0;}
.table01 td{margin:15px;padding:0;}

}


#gmap {
	width:100%;
	height:450px;
}


/* Style for SP*/
@media screen and (max-width: 768px) {
#gmap {
	height:300px;
	margin-bottom:0px;
}
}

/* Style for Dfault*/
.btn01 {
	margin:50px 0 0;
	text-align:center;
}

.btn01  li {
	list-style:none;
	display:inline-block;
}

.btn01 a {
	color:#FFF;
	font-size:14px;
	text-align:center;
	padding:15px 30px;
	border:1px solid #FFF;
	-webkit-transition:0.5s;
-moz-transition:0.5s;
-o-transition:0.5s;
transition:0.5s;

}

.btn01 a:hover {
	background:rgba(0,0,0,0.4);
}



.sp_menu, a.click, .sp_logo {
display:none;
}


/* Style for SP*/
@media screen and (max-width:768px) {
/* スマホ用メニュー */
.sp_menu, a.click, .sp_logo {
display:block;
}
	
	
/*#menu {
	display:none;
}
*/

.sp_logo {
		width:50px;
		position:absolute;
		top:30px;
		left:15px;
	}
	
	
.click {
	width: 59px;
	height:70px;
	position:absolute;
	top:0;
	right:0;
}
	
.click img {
		width: 100%;
	}
	
	
.sp_menu {
	width:100%;
	position:absolute;
	top:70px;
	right:0;
        display:none;
}
	
.accordion {
  width: 100%;
  overflow: hidden;
  margin: auto;
}


.single_level_menu {
  width: 100%;
}
	
	
.single_level_menu a {
  display:block;
  height: 49px;
  line-height: 49px;
  font-size: 14px;
  cursor: pointer;
  color: #FFF;
  font-weight:100;
  padding-left: 15px;
  background: #333 url('../../../diva_web2 - Copy/img/header/arrow2.png') no-repeat;
  background-position: right 20px top 16px;
  border-bottom: 1px solid #FFF;
  box-sizing: border-box;
　text-decoration:none !important;
}
	
	

.accordion .item .ac_heading {
  height: 49px;
  line-height: 49px;
  font-size: 14px;
  cursor: pointer;
  color: #FFF;
  font-weight:100;
  padding-left: 15px;
  background: #333 url('../../../diva_web2 - Copy/img/header/arrow.png') no-repeat;
  background-position: right 20px top -95px;
  border-bottom: 1px solid #FFF;
  box-sizing: border-box;
}

.accordion .item.open .ac_heading,
.accordion .item:last-child .heading { border: 0; }

.accordion .item.open .ac_heading { background-position: right 20px top -5px; }

.accordion .item .ac_content {
  display: none;
  padding: 0;
  background: #666;
  font-size: 14px;
}

.ac_content ul {
  list-style:none;
  margin:0;
  padding:0;
}
	
	
.ac_content li {
	border-bottom:1px solid #dfdfdf;
	margin:0;
  padding:0;
	}
	

.ac_content li a {
		display:block;
		padding:14px;
	    box-sizing: border-box;
		width:100%;
		color:#FFF;
		text-decoration:none;
	    background: #333 url('../../../diva_web2 - Copy/img/header/arrow3.png') no-repeat;
	    background-position: right 20px top 16px;
}
	
	
.ac_content li a:hover, .ac_content li a:active {
	background: #666 url('../../../diva_web2 - Copy/img/header/arrow3.png') no-repeat;
	background-position: right 20px top 16px;
}
}

/* Style for SP*/
@media screen and (max-width:599px) {
	h2 {
		font-size: 1.6em;
	}
}